
$headerHeight: 40px;

*{
  margin:0;
  padding: 0;
  // box-sizing: border-box;
}

#content {
  width: 100%;
  height: auto;
  background-color: #fff;
  .editWrap {
    width: 1200px;
    height: 500px;
    background-color: #4791eb;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    #header{
      height: $headerHeight;
      line-height: $headerHeight;
      display: flex;
      align-items: center;
      padding-left: 2px;
      .item{
        display: inline-block;
        // height: 100%;
        width: 60px;
        height: 90%;
        border: 1px solid #fff;
        padding: 5px 12px;
      }
    }
    #inputBody{
      height: 300px;
      background-color: #fff;
      flex: 1;
      border: 1px solid gray;
    }
  }
}
